
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@700&display=swap');
/* Live - Content */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100;400;500&family=Source+Sans+Pro:wght@200;300&display=swap');

/* Common Style */
body{
    font-family: 'Poppins, sans-serif';
    max-width: 1321px;
    margin: 0 auto;
    border: 1px solid blue;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}
.header-left h1{
   color: white;
   font-size: min(5vw, 70px);
   /* font-size: 5vw; */
   margin: 0 ;
   font-family:'Roboto', sans-serif;
}

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

p{
   color: white;
   font-size: min(1.1vw, 18px);
   /* font-size: 1.1vw; */
   font-family: 'Source Sans Pro', sans-serif;
}

.container-1{
   background-color: #161616;
   width: 100%;
   border-radius: 20px;
   margin-top: 30px;
   color: white;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-column-gap: 24px;
   

}
.button-1{
   /* height: 40px;
   width: 150px; */
   width: 187px;
   height: 56px;
   background-color: #DD0000;
   font-size: 20px;
   color: white;
   padding: 2%;
   margin-top: 5%;
   margin-right: 10px;
   border: none;
   border-radius: 5px;
}

nav{
   margin-left: -40px;
}

.header-left{
    margin: 9%;
    padding: 5%;
}
.header-right{
    border: 1px solid red;
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2px;
}

.header-right img{
   width: 100%;
   /* margin-top: 10%;
   margin-left: 20%;
   margin-right: 20%; */
   
   /* margin-top: 6.5%; */
   /* position:relative; */
}

/*----------------
   Menu Button
 ----------------*/

 .button-m{
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 312px;
   height: 312px;
   margin-right: 12px;
   border-radius: 10px;
   background-color: #161616;
}
.b1{
   height: 64px;
   width: 252px;
   background-color: #DD0000;
   color: white;
   margin: 19px 0;
   border: none;
   border-radius: 10px;
   font-size: 20px;
}
.b2{
   height: 64px;
   width: 252px;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   margin: 19px 0;
   border: none;
   border-radius: 10px;
   font-size: 20px;
}
.b3{
   height: 64px;
   width: 252px;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   margin: 19px 0;
   border: none;
   border-radius: 10px;
   font-size: 20px;
}
/*----------------
   Transfer Live
 ----------------*/
 .container-2{
   display: flex;
   /* flex-direction: row;
   justify-content: center; */
   width: 100%;
   margin-top: 100px;
}

 .content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: (auto-fit, minmax(577px, 1fr)); */
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-left: 12px;
 }

.box{
   width: 100%;
   /* height: 362px; */
   height: 100%;
   background-color: white;
   border: 1px solid #E8E8E8;
   border-radius: 10px;
}

/* .transfer-live{
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 10px;  
} */

.live-banner img{
    width: 100%; 
}

.live-detail{
    padding: 6%;
    font-size: 20px;
}

 .button-2{
   width: 100px;
    height: 32px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
 }
 .live-title{
    color: #161616;
    font-size: 16px;
    font-family:'Roboto', sans-serif;;
 }
 .live-info{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family:'Roboto', sans-serif;
    color: #161616;
 }
 .fa-message{
    margin-right: 10px;
 }
 .fa-clock{
    margin-left: 20px;
    margin-right: 10px;
 }

 /*-----------------------------------------------------
                        Footer
 ------------------------------------------------------*/

 .footer {
   width: 100%;
   height: 100%;
   padding-bottom: 10%;
   background-color: #161616;
   color: white;  
}

.footer-h2{
   padding-top: 10%;
   text-align: center;
   font-size: 40px;
   font-family: Raleway;
}

.footer-content{
   display: flex;
   /* display: grid; */
   margin-top: 2%;
   margin-bottom: 2%;
   padding-left: 10%;
   padding-right: 10%;
   /* width: 60%; */
   text-align: center;
   justify-content: space-between;
   flex-direction: row;
   /* grid-template-columns: repeat(6, 1fr);
   grid-column-gap: 24px;
   grid-row-gap: 24px; */
}


.line-1 {
   width: 80%;
   height: 1px;
   margin: auto;
   background: #ffffff20;
   
 }

.social-media{
   display: flex;
   margin-top: 5%;
   padding-left: 40%;
   padding-right: 40%;
   text-align: center;
   justify-content: space-between;
   flex-direction: row;
}
.fa-facebook-f{
   color: white;
}
.fa-twitter{
   color: white;
}
.fa-linkedin-in{
   color: white;
}
.fa-at{
   color: white;
}




 /*-----------------------------------------------------
                        Responsive
 ------------------------------------------------------*/

 /*-----------------------------------------------------
                        Small Device
 ------------------------------------------------------*/
 /* .content{
   grid-template-columns: repeat(1, 1fr);
} */

 @media screen and (max-width: 576px) {
   .container-2{
       flex-direction: column;
       margin-top: 10px;
   }

   /* Header Align Start */

   .container-1{
       width: 85%;
       height: 0%;
       margin-top: 0%;
       margin-left: 7%;
       color: white;
       display: grid;
       grid-template-columns: repeat(1, 1fr);

   }
   .header-left h1{
       color: white;
       font-size: 7vw;
       text-align: center;
       /* margin: 0 ; */
   }
   p{
       color: white;
       font-size: 3.5vw;
       text-align: center;
   }
   .button-1{
       height: 40px;
       width: 161px;
       background-color: #DD0000;
       color: white;
       padding: 2%;
       margin-top: 10px;
       border: none;
       border-radius: 5px;
       
   }

   nav{
      text-align: center;
   }

   .header-left{
       margin: 0% 10%;
       margin-top: 20px;
       /* position: relative; */
       
   }

   .header-right{
      width: 100%;
      margin-top: 0;
      /* margin-left: 5%;
      margin-right: 5%; */
   }

   .header-right img{
      width: 88%;
      place-items: center; 
      margin-left: 10%;
     
   }
   
   /* Header Align End */

   /* Button Design Start*/
   .menu .button-m{
       background-color: rgb(255, 255, 255);
   }
   .b1{
       width: 210px;
       height: 48px;
       background-color: #ffffff;
       color: #161616;
       margin: 18px 0;
       border: 1px solid #E8E8E8;
       border-radius: 10px;
       font-size: 16px;
   }
   .b2{
       width: 160px;
       height: 48px;
       background-color: #ffffff;
       color: #161616;
       margin: 18px 0;
       border: 1px solid #E8E8E8;
       border-radius: 10px;
       font-size: 16px;
   }
   .b3{
       width: 160px;
       height: 48px;
       background-color: #DD0000;
       color: white;
       margin: 18px 0;
       border: none;
       border-radius: 10px;
       font-size: 16px;
   }
   .button-m{
       width: 100%;
       height: 255px;
       display: flex;
       align-items: center;
       flex-direction: column;
   } 
   /* Button End */

   /*----------------
      Transfer Live
   ----------------*/
   .box{
      /* width: 312px; */
      width: 100%;
      /* height: 362px; */
      height: 100%;
      background-color: white;
      border: 1px solid #E8E8E8;
      border-radius: 10px;
   }
   .content{
       place-items: center;
       margin-left: 10%;
       margin-right: 10%;
   }

   .live-banner img{
      width: 100%; 
      height: 100%;
   }
   /* .transfer-live{
       width: 250px;
       height: 100px;
       align-items: center;
       margin: 45px 40px; 
   } */
   /* Box Align End*/






   .content{
       grid-template-columns: repeat(1, 1fr);
   }
   /* .button-m{
       display: flex;
       flex-direction: column;
       align-items: center;
   } */


     /* Footer */
   .footer{
      width: 100%;
      height: 100%;
      background-color: #161616;
      color: white;
      padding-bottom: 5%;  

      /* width: 100%;
      padding-bottom: 30%; */
   }
   .footer-content{
      display: flex;
      margin-top: 5%;
      padding-left: 10%;
      padding-right: 10%;
      text-align: center;
      justify-content: space-between;
      flex-direction: column;

   }
   .social-media{
      margin-top: 5%;
      padding-left: 30%;
      padding-right: 30%;
   }
   
}

 /*-----------------------------------------------------
                        Medium Device
 ------------------------------------------------------*/

@media screen and (min-width: 577px) and (max-width: 864px) {
           .content{
               grid-template-columns: repeat(2, 1fr);
               grid-column-gap: 24px;
               grid-row-gap: 24px;
               margin-top: 20px;
               margin-left: 5%;
               margin-right: 5%;
           }

           .container-2{
            flex-direction: column;
            margin-top: 20px;
        }
         
           .container-1{
            width: 90%;
            height: 0%;
            margin-top: 30px;
            margin-left: 5%;
            margin-right: 5%;
            color: white;
            display: grid;
            align-self: center;
            justify-self: center;
            
            /* grid-template-columns: repeat(1, 1fr); */
        }

        .header-left{
         
         margin-top: 50px;
         margin-bottom: 40px;
         margin-left: 50px;
         margin-right: 20px;
         padding: 0px;
         } 

        .header-left h1{
         color: white;
         font-size: 40px;
         font-family:'Roboto', sans-serif;
         }

         .header-right{
            width: 100%;
            margin-top: 5%;
            /* margin-left: 1%; */
         }

         .header-right img{
            height: auto;
            width: 88%;
            margin-left: 5%;
            /* position: absolute; */
            /* margin-bottom: 10%; */
            /* position:relative;
            top: 40px; */
            /* margin-top: 45%; */
            
         }
         .header-left h1{
            color: white;
            font-size: min(4.5vw, 40px);
            /* font-size: 4.5vw; */
            margin: 0 ;
            font-family:'Roboto', sans-serif;
         }

      p{
         color: white;
         font-size: min(1.5vw, 16px);
         /* font-size: 1.5vw; */
         font-family: 'Source Sans Pro', sans-serif;
      }

      .button-1{
         height: 40px;
         width: 161px;
         background-color: #DD0000;
         color: white;
         padding: 2%;
         margin-top: 10px;
         border: none;
         border-radius: 5px;
     }

        /* Button Design Start*/
   .menu .button-m{
      background-color: rgb(255, 255, 255);
      border: 1px solid blue;
  }
  .b1{
      width: 210px;
      height: 48px;
      background-color: #ffffff;
      color: #161616;
      margin: 18px 0;
      border: 1px solid #E8E8E8;
      border-radius: 10px;
      font-size: 16px;
  }
  .b2{
      width: 160px;
      height: 48px;
      background-color: #ffffff;
      color: #161616;
      margin: 18px 0;
      border: 1px solid #E8E8E8;
      border-radius: 10px;
      font-size: 16px;
  }
  .b3{
      width: 160px;
      height: 48px;
      background-color: #DD0000;
      color: white;
      margin: 18px 0;
      border: none;
      border-radius: 10px;
      font-size: 16px;
  }
  .button-m{
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-left: 5%;
      /* margin-right: 5%; */
      justify-content: space-between;
      width: 90%;
      height: 70px;
      border-radius: 10px;
      background-color: #161616;
  } 

  /* Button End */

/*----------------
   Transfer Live
 ----------------*/

   .box{
      /* width: 333px; */
      width: 100%;
      /* height: 370px; */
      height: 100%;
      background-color: white;
      border: 1px solid #E8E8E8;
      border-radius: 10px;
   }

   .live-banner img{
      width: 100%; 
   }



/*----------------
        Footer
 ----------------*/


   .footer {
      width: 100%;
      height: 330px;
      background-color: #161616;
      color: white;  
   }
}






