/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100;400;500&family=Source+Sans+Pro:wght@200;300&display=swap');

body{
    max-width: 1321px;
    margin: 0 auto;
    border: 1px solid blue;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
}
/* Common Style */
.header-left h1{
    color: white;
    font-size: 70px;
    margin: 0 ;
    font-family:'Roboto', sans-serif;
}

p{
    color: white;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}
/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */
.container-1{
    background-color: #161616;
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    /* justify-content: center; */
}

/* Link Button */
.button-1{
    height: 40px;
    width: 150px;
    background-color: #DD0000;
    color: white;
    padding: 2%;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
nav{
    margin-left: -40px;
}
.header-left{
    margin: 9%;
    padding: 5%;
}
.header-right img{
    width: 76.3%;
    margin-left: 20%;
    margin-top: 6.5%;
}

/*----------------
   Menu Button
 ----------------*/

.button-m{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 312px;
    height: 312px;
    margin-right: 12px;
    border-radius: 10px;
    background-color: #161616;
}
.b1{
    height: 64px;
    width: 252px;
    background-color: #DD0000;
    color: white;
    margin: 19px 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.b2{
    height: 64px;
    width: 252px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 19px 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.b3{
    height: 64px;
    width: 252px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin: 19px 0;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}

 /*----------------
   Transfer Live
 ----------------*/

 .container-2{
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    width: 100%;
    margin-top: 100px;
}

.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-left: 12px;
}
.box{
    width: 310px;
    height: 242px;
    background-color: white;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.transfer-live{
    width: 250px;
    height: 100px;
    align-items: center;
    margin: 43px 30px; 
}

.live-banner {
    display: flex;
    justify-content: space-between;
    
}

.live-detail{
    padding: 6%;
}
 /* .button-2{
    height: 27px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
 } */
 .live-title{
    color: #161616;
    text-align: center;
    font-size: 1.2em;
    font-family:'Roboto', sans-serif;
 }
 .live-para{
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: .9em;
    color: #161616;
 }
 .fa-message{
    margin-right: 10px;
 }
 .fa-clock{
    margin-left: 20px;
    margin-right: 10px;
 }

/*----------------
   Footer
 ----------------*/
 .footer {
    width: 100%;
    height: 244px;
    text-align: center;
    font-size: 16px;
    font-family: Raleway;
    padding: 40px;
    background-color: #161616;
    color: white;
    
 }
 .footer-content{
    display: flex;
    align-items: center;
    margin: 10px 50%;
    width: 50px;
    
 }

 /*----------------
   Responsive
 ----------------*/

 /* Small Device */
 @media screen and (max-width: 576px) {
    .container-2{
        flex-direction: column;
        margin-top: 10px;
    }

    /* Header Align Start */

    .container-1{
        width: 85%;
        height: 534.4px;
        margin-top: 0%;
        margin-left: 7%;
        color: white;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }
    .header-left h1{
        color: white;
        font-size: 22px;
        text-align: center;
        margin: 0 ;
    }
    p{
        color: white;
        font-size: 14px;
        text-align: center;
    }
    .button-1{
        height: 40px;
        width: 161px;
        background-color: #DD0000;
        color: white;
        padding: 2%;
        margin-top: 10px;
        margin-right: 10px;
        border: none;
        border-radius: 5px;
    }
    .header-left{
        margin: 0% 15%;
        margin-top: 50px;
        padding: 0%;
    }
    .header-right img{
        margin-top: 0%;
        width: 77.3%;
        place-items: center;
        
    }
    


    /* Header Align End */




    /* Button Design Start*/
    .menu .button-m{
        background-color: rgb(255, 255, 255);
    }
    .b1{
        width: 210px;
        height: 48px;
        background-color: #ffffff;
        color: #161616;
        margin: 18px 0;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        font-size: 16px;
    }
    .b2{
        width: 160px;
        height: 48px;
        background-color: #ffffff;
        color: #161616;
        margin: 18px 0;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        font-size: 16px;
    }
    .b3{
        width: 160px;
        height: 48px;
        background-color: #DD0000;
        color: white;
        margin: 18px 0;
        border: none;
        border-radius: 10px;
        font-size: 16px;
    }
    .button-m{
        width: 100%;
    } 
    /* Button End */

    /* Box Align Start */
    .box{
        width: 85%;
        height: 242px;
        background-color: white;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }
    .content{
        place-items: center;
        margin: 0;
    }
    .transfer-live{
        width: 250px;
        height: 100px;
        align-items: center;
        margin: 45px 40px; 
    }
    /* Box Align End*/












    .content{
        grid-template-columns: repeat(1, 1fr);
    }
    /* .button-m{
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    
}

/* medium device */

 /* @media screen and (min-width: 577px) and (max-width: 700px) {
            .content{
                grid-template-columns: repeat(2, 1fr);
            }
        } */

    
 

